<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <app-titulo titulo="Fase de Seleção" subtitulo="Selecione 8 filmes que você deseja que entrem na competição e depois pressio o botão Gerar Meu Campeonato para prosseguir"></app-titulo>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 text-white">
            <div class="text-wrap" style="width: 6em;">
                Selecionados
                <span>0</span> de 8 filmes
            </div>
        </div>
        <div class="col-md-6">
            <app-botao-gerar-campeonato></app-botao-gerar-campeonato>        
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-md-12">
            <app-grid-filmes></app-grid-filmes>
        </div>
    </div>
</div>