<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <app-titulo titulo="Fase de Seleção" subtitulo="Selecione 8 filmes que você deseja que entrem na competição e depois pressio o botão Gerar Meu Campeonato para prosseguir"></app-titulo>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6 text-white">
            <div class="text-wrap" style="width: 6em;">
                Selecionados
                {{ids.length}} de 8 filmes
            </div>
        </div>
        <div class="col-6">
            <app-botao-gerar-campeonato (click)="enviaResultados()"></app-botao-gerar-campeonato>        
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-12">

            <ol class="list-unstyled row">
                <li *ngFor="let item of filmes" class="col-3">
                    <app-filme [filme]="item" (addId)="guardarSelecionados($event)" (removerId)="removerSelecionados($event)"></app-filme>
                </li>
            </ol>

        </div>
    </div>
</div>