<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <app-titulo titulo="Resultado Final" subtitulo="Veja o resultado final do Campeonato de filmes de forma simples e rápida"></app-titulo>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-finalista titulo="Vingadores Genéricos" posicao="1"></app-finalista>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-finalista titulo="Filme Bosta" posicao="2"></app-finalista>
        </div>
    </div>
</div>
