<ol class="list-unstyled row">
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li><li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li><li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li><li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
    <li class="col-3">
        <app-filme></app-filme>
    </li>
</ol>